name: df_tooltip
description: "A new Flutter package project."
version: 0.0.2
homepage:

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true